:root {
  --main-bg: hsla(0, 0%, 100%, 1);
  --text-dark: hsla(233, 14%, 25%, 1);
  --text-light: hsla(0, 0%, 100%, 1);
  --hero-bg: hsla(232, 58%, 55%, 1);
  --button-primary-bg: hsla(180, 100%, 42%, 1);
  --button-primary-text: hsla(233, 14%, 25%, 1);
  --button-secondary-bg: transparent;
  --button-secondary-border: hsla(0, 0%, 100%, 1);
  --button-secondary-text: hsla(0, 0%, 100%, 1);
  --button-cta-bg: hsla(0, 0%, 100%, 1);
  --button-cta-text: hsla(233, 14%, 25%, 1);
  --fullwidth-bg: hsla(320, 85%, 41%, 1);
  --cta-desktop: linear-gradient(
    90deg,
    hsla(233, 14%, 25%, 1) 0%,
    hsla(232, 58%, 55%, 1) 56.34%,
    hsla(180, 100%, 42%, 1) 112.47%
  );
  --cta-mobile: linear-gradient(
    90deg,
    hsla(233, 14%, 25%, 1) 0%,
    hsla(232, 58%, 55%, 1) 76.28%,
    hsla(180, 100%, 42%, 1) 152.28%
  );
}
