@use '../util' as u;

.footer {
  $b: &;

  &__wrapper {
    display: flex;
    gap: u.rem(40) u.rem(20);
    flex-wrap: wrap;

    // display: grid;
    // gap: u.rem(40) u.rem(20);
    // grid-template-columns: repeat(2, auto);

    // @include u.breakpoint(medium) {
    //   grid-template-columns: repeat(4, auto);
    // }
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(u.rem(150), 1fr));
  }

  &__logo {
    flex: 100%;
    // grid-column: 1 / -1;
  }

  &__homelink {
    display: block;
    width: fit-content;
  }

  &__logo-image {
    margin-block-end: u.rem(10);
  }

  &__copyright {
    line-height: 1;
    margin-block-end: 0;
  }

  &__grid {
    display: grid;
    gap: u.rem(40) u.rem(20);
    grid-template-columns: repeat(2, 1fr);

    @include u.breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__column {
    flex: calc(50% - u.rem(10));
    //flex: auto;

    @include u.breakpoint(medium) {
      // flex: calc(25% - u.rem(60) / 4);
      flex: auto;
    }
  }

  &__column-title {
    font-size: u.rem(22);
    line-height: 1.1;
    margin-block-end: u.rem(14);
  }

  &__links {
  }

  &__item {
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: u.rem(16);
    color: var(--text-dark);
    font-size: u.rem(18);
    line-height: 1;
    margin-block-end: u.rem(10);

    &:hover {
      color: var(--text-link-hover);

      #{$b}__social-path {
        fill: var(--text-link-hover);
      }
    }
  }

  &__social {
    width: u.rem(18);
  }

  &__social-path {
    fill: var(--text-dark);
  }
}
